### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
total_players = len(purchase_data['SN'].unique())
print_total_players = pd.DataFrame({"Total Players": [total_players]})
print_total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Found the nunique() function here https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.nunique.html
# Calculate each value
unique_items = purchase_data["Item Name"].nunique()
avg_price = round(purchase_data["Price"].mean(),2)
total_purchases = purchase_data['Purchase ID'].nunique()
total_revenue = purchase_data['Price'].sum()
#print the output table
print_purchasing_analysis = pd.DataFrame({
    'Number of Unique Items': [unique_items],
    'Average Purchase Price': [avg_price],
    'Total Number of Purchases': [total_purchases],
    'Total Revenue': [total_revenue]
})
# found how to format columns here: https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html
print_purchasing_analysis.style.format({'Average Purchase Price': '${:.2f}', 'Total Revenue': '${:.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Calculate Percentage and Count of Male Players
male_data = purchase_data.loc[purchase_data["Gender"] == 'Male',:]
male_players = male_data['SN'].nunique()
male_percentage = round((male_players/total_players) * 100,2)

In [5]:
# Calculate Percentage and Count of Female Players
female_data = purchase_data.loc[purchase_data["Gender"] == 'Female',:]
female_players = female_data['SN'].nunique()
female_percentage = round((female_players/total_players) * 100,2)

In [6]:
# Percentage and Count of Female Players
other_data = purchase_data.loc[purchase_data["Gender"] == 'Other / Non-Disclosed',:]
other_players = other_data['SN'].nunique()
other_percentage = round((other_players/total_players) * 100,2)

In [7]:
# Print output
print_gender_demographics = pd.DataFrame({
    "Gender": ['Male', 'Female', 'Other/Non-Disclosed'],
    'Total Count': [male_players, female_players, other_players],
    'Percentage of Players': [male_percentage, female_percentage, other_percentage]
    })
# set index to genders to get rid of the index numbers
print_gender_demographics = print_gender_demographics.set_index("Gender")
# Format for percentages
print_gender_demographics.style.format({'Percentage of Players': '{:.2f}%'})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# Male Purchase Count
male_purchase_count = male_data['Purchase ID'].nunique()
# Male Average Purchase Price
male_avg_price = round(male_data['Price'].mean(),2)
# Male Total Purchase Value
male_total_purchases = male_data['Price'].sum()
# Male Average Purchase total per Person by Gender
male_avg_per_person = round(male_total_purchases / male_players, 2)

In [9]:
# Female Purchase Count
female_purchase_count = female_data['Purchase ID'].nunique()
# Female Average Purchase Price
female_avg_price = round(female_data['Price'].mean(),2)
# Female Total Purchase Value
female_total_purchases = female_data['Price'].sum()
# Female Average Purchase total per person by gender
female_avg_per_person = round(female_total_purchases / female_players, 2)

In [10]:
# Other/Non-Disclosed Purchase Count
other_purchase_count = other_data['Purchase ID'].nunique()
# Other/Non-Disclosed Average Purchase Price
other_avg_price = round(other_data['Price'].mean(),2)
# Other/Non-Disclosed Total Purchase Value
other_total_purchases = other_data['Price'].sum()
# Other/Non-Disclosed Average Purchase Total per Person by Gender
other_avg_per_person = round(other_total_purchases / other_players, 2)

In [11]:
# Print output
print_gender_purchasing = pd.DataFrame({
    "Gender": ['Male', 'Female', 'Other/Non-Disclosed'],
    'Purchase Count': [male_purchase_count, female_purchase_count, other_purchase_count],
    'Average Purchase Price': [male_avg_price, female_avg_price, other_avg_price],
    'Total Purchase Value': [male_total_purchases, female_total_purchases, other_total_purchases],
    'Avg Total Purchase per Person': [male_avg_per_person, female_avg_per_person, other_avg_per_person]
    })
# set index to genders to get rid of the index numbers
print_gender_purchasing = print_gender_purchasing.set_index("Gender")
# format the price columns as currency
print_gender_purchasing.style.format({'Average Purchase Price': '${:.2f}', 'Total Purchase Value': '${:.2f}', 'Avg Total Purchase per Person': '${:.2f}'})

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [13]:
# Found an article on pd.cut(): https://www.geeksforgeeks.org/pandas-cut-method-in-python/
# create list for age bins
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
# Declare bin labels
bin_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
# Use pd.cut() to split data into age bins
pd.cut(x=purchase_data['Age'], bins=age_bins, labels= bin_labels)
purchase_data['Age Bins'] = pd.cut(x=purchase_data['Age'], bins= age_bins, labels=bin_labels, right = False)
# Group the purchase data by age group
pd_by_age = purchase_data.groupby(['Age Bins'])
pd_by_age_df = pd.DataFrame(pd_by_age['SN'].count())
pd_by_age_df.rename(columns={'SN':'Total Count'}, inplace=True)
pd_by_age_df['Percentage of Players'] = round((pd_by_age_df['Total Count'] /pd_by_age_df['Total Count'].sum()) * 100, 2)
pd_by_age_df.style.format({'Percentage of Players': '{:.2f}%'})
pd_by_age_df

          Total Count  Percentage of Players
Age Bins
<10                17                   2.18
10-14              32                   4.10
15-19             115                  14.74
20-24             321                  41.15
25-29             155                  19.87
30-34              77                   9.87
35-39              44                   5.64
40+                19                   2.44

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
# Less than 10 years old
age_less_10 = purchase_data.loc[purchase_data["Age"] < 10 ,:]
# Less than 10 Purchase Count
purchase_count_less_10 = age_less_10['Purchase ID'].nunique()
# Less than 10 Average Purchase Price
avg_price_less_10 = round(age_less_10['Price'].mean(),2)
# Less than 10 Total Purchase Value
total_purchases_less_10 = age_less_10['Price'].sum()
# Calculate total players less than 10
less_10_players = age_less_10['SN'].nunique()
# Less than 10 Average Purchase Total per Person
less_10_avg_per_person = round(total_purchases_less_10 / less_10_players, 2)

In [15]:
# Age 10-14
age_10_14 = purchase_data.loc[(purchase_data["Age"] >= 10) & (purchase_data["Age"] <= 14),:]
# 10-14 Purchase Count
purchase_count_10_14 = age_10_14['Purchase ID'].nunique()
# 10-14 Average Purchase Price
avg_price_10_14 = round(age_10_14['Price'].mean(),2)
# 10-14 Total Purchase Value
total_purchases_10_14 = age_10_14['Price'].sum()
# Calculate total players between 10-14
age_10_14_players = age_10_14['SN'].nunique()
# 10-14 Average Purchase Total per Person
age_10_14_avg_per_person = round(total_purchases_10_14 / age_10_14_players, 2)

In [16]:
# Age 15-19
age_15_19 = purchase_data.loc[(purchase_data["Age"] >= 15) & (purchase_data["Age"] <= 19),:]
# 15-19 Purchase Count
purchase_count_15_19 = age_15_19['Purchase ID'].nunique()
# 15-19 Average Purchase Price
avg_price_15_19 = round(age_15_19['Price'].mean(),2)
# 15-19 Total Purchase Value
total_purchases_15_19 = age_15_19['Price'].sum()
# Calculate total players between 15-19
age_15_19_players = age_15_19['SN'].nunique()
# 15-19 Average Purchase Total per Person
age_15_19_avg_per_person = round(total_purchases_15_19 / age_15_19_players, 2)

In [17]:
# Age 20-24
age_20_24 = purchase_data.loc[(purchase_data["Age"] >= 20) & (purchase_data["Age"] <= 24),:]
# 20-24 Purchase Count
purchase_count_20_24 = age_20_24['Purchase ID'].nunique()
# 20-24 Average Purchase Price
avg_price_20_24 = round(age_20_24['Price'].mean(),2)
# 20-24 Total Purchase Value
total_purchases_20_24 = age_20_24['Price'].sum()
# Calculate total players between 20-24
age_20_24_players = age_20_24['SN'].nunique()
# 20-24 Average Purchase Total per Person
age_20_24_avg_per_person = round(total_purchases_20_24 / age_20_24_players, 2)

In [18]:
# Age 25-29
age_25_29 = purchase_data.loc[(purchase_data["Age"] >= 25) & (purchase_data["Age"] <= 29),:]
# 25-29 Purchase Count
purchase_count_25_29 = age_25_29['Purchase ID'].nunique()
# 25-29 Average Purchase Price
avg_price_25_29 = round(age_25_29['Price'].mean(),2)
# 25-29 Total Purchase Value
total_purchases_25_29 = age_25_29['Price'].sum()
# Calculate total players between 25-29
age_25_29_players = age_25_29['SN'].nunique()
# 25-29 Average Purchase Total per Person
age_25_29_avg_per_person = round(total_purchases_25_29 / age_25_29_players, 2)

In [19]:
# Age 30-34
age_30_34 = purchase_data.loc[(purchase_data["Age"] >= 30) & (purchase_data["Age"] <= 34),:]
# 30-34 Purchase Count
purchase_count_30_34 = age_30_34['Purchase ID'].nunique()
# 30-34 Average Purchase Price
avg_price_30_34 = round(age_30_34['Price'].mean(),2)
# 30-34 Total Purchase Value
total_purchases_30_34 = age_30_34['Price'].sum()
# Calculate total players between 30-34
age_30_34_players = age_30_34['SN'].nunique()
# 30-34 Average Purchase Total per Person
age_30_34_avg_per_person = round(total_purchases_30_34 / age_30_34_players, 2)

In [20]:
# Age 35-39
age_35_39 = purchase_data.loc[(purchase_data["Age"] >= 35) & (purchase_data["Age"] <= 39),:]
# 35-39 Purchase Count
purchase_count_35_39 = age_35_39['Purchase ID'].nunique()
# 35-39 Average Purchase Price
avg_price_35_39 = round(age_35_39['Price'].mean(),2)
# 35-39 Total Purchase Value
total_purchases_35_39 = age_35_39['Price'].sum()
# Calculate total players between 35-39
age_35_39_players = age_35_39['SN'].nunique()
# 35-39 Average Purchase Total per Person
age_35_39_avg_per_person = round(total_purchases_35_39 / age_35_39_players, 2)

In [21]:
# Age 40+
age_40_plus = purchase_data.loc[purchase_data["Age"] >= 40,:]
# 40+ Purchase Count
purchase_count_40_plus = age_40_plus['Purchase ID'].nunique()
# 40+ Average Purchase Price
avg_price_40_plus = round(age_40_plus['Price'].mean(),2)
# 40+ Total Purchase Value
total_purchases_40_plus = age_40_plus['Price'].sum()
# Calculate total players between 40+
age_40_plus_players = age_40_plus['SN'].nunique()
# 40+ Average Purchase Total per Person
age_40_plus_avg_per_person = round(total_purchases_40_plus / age_40_plus_players, 2)

In [22]:
# Print output
print_age_purchasing = pd.DataFrame({
    "Age Ranges": bin_labels,
    'Purchase Count': [purchase_count_less_10, purchase_count_10_14, purchase_count_15_19, purchase_count_20_24, purchase_count_25_29, purchase_count_30_34, purchase_count_35_39, purchase_count_40_plus],
    'Average Purchase Price': [avg_price_less_10, avg_price_10_14, avg_price_15_19, avg_price_20_24, avg_price_25_29, avg_price_30_34, avg_price_35_39, avg_price_40_plus],
    'Total Purchase Value': [total_purchases_less_10, total_purchases_10_14, total_purchases_15_19, total_purchases_20_24, total_purchases_25_29, total_purchases_30_34, total_purchases_35_39, total_purchases_40_plus],
    'Avg Total Purchase per Person': [less_10_avg_per_person, age_10_14_avg_per_person, age_15_19_avg_per_person, age_20_24_avg_per_person, age_25_29_avg_per_person, age_30_34_avg_per_person, age_35_39_avg_per_person, age_40_plus_avg_per_person]
    })
# set index to genders to get rid of the index numbers
print_age_purchasing = print_age_purchasing.set_index("Age Ranges")
# format the price columns as currency
print_age_purchasing.style.format({'Average Purchase Price': '${:.2f}', 'Total Purchase Value': '${:.2f}', 'Avg Total Purchase per Person': '${:.2f}'})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [28]:
# Create dataframe to hold count of spenders
count_spenders = pd.DataFrame(purchase_data.groupby('SN').count())
# create dataframe to sum purchase data grouped by spender
top_spenders_df = pd.DataFrame(purchase_data.groupby('SN').sum())
# sort dataframe by Price desc
top_spenders_df = top_spenders_df.sort_values("Price", ascending=False)
# add purchase count column
top_spenders_df['Purchase Count'] = count_spenders['Item ID']
# Calculate average purchase price per spender
top_spenders_df['Average Purchase Price'] = round(top_spenders_df['Price'] / top_spenders_df['Purchase Count'],2)
# Rename price column to total purchase value
top_spenders_df.rename(columns={'Price': 'Total Purchase Value'}, inplace=True)
# remove unwanted columns
top_spenders_df = top_spenders_df.loc[:,['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']]
# format columns as currency
top_spenders_df.style.format({'Average Purchase Price': '${:.2f}', 'Total Purchase Value': '${:.2f}'})
# Print top 5
top_spenders_df.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80